# 工作流程的名称。 GitHub 在仓库的操作页面上显示工作流程的名称。
name: github_host


# 下文含义为 *******************************************
#     当 master 分支发生 push 事件时针对 paths
#     中指定的文件时执行 jobs(作业)
# *****************************************************
on: # 触发工作流程的 GitHub 事件的名称。
  push:
    branches:
      - master

# 工作流程运行包括一项或多项作业。
# 作业默认是并行运行。
# 要按顺序运行作业，您可以使用 <job_id>needs 关键词在其他作业上定义依赖项。
jobs:

  install_dependence_job:

    runs-on: macos-latest

    steps: # 一个 job(作业) 可以分为若干 step(步骤)
      # 检出(获取)这个仓库的一个release 版本
      - uses: actions/checkout@v2
        # 定义环境变量
        with:
          ref: master
          # 用于拉取更多历史内容
          fetch-depth: 0

      - name: print machine info
        run: |
          pwd
          ls -a -l

      - name: Install dependencies # 步骤显示在 GitHub 上的名称。
        run: bash ./.github/github_actions/install_dependence_macos.sh

      - name: Publish Issues
        run: python3 ./.github/github_actions/git_action_practice.py
        env:
          # 这里的环境变量可以在脚本中使用
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # 下述配置可定制
          GITHUB_BRANCH:  'master'
          ISSUES_CONFIG:  '.github/github_actions/issues_config.json'
          ISSUES_FOOTER_PATH:  '.github/github_actions/issues_footer.md'
          ISSUES_HEADER_PATH:  '.github/github_actions/issues_header.md'
          # 只接受整数
          ISSUES_MAP_FILE_NUMBER:  '9'
